.resource
  margin-bottom: 70px

  h1
    text-align: start
    font-size: 25px !important
    font-weight: 500 !important
    color: #0c78de
    margin-bottom: 10px

  .description
    text-align: start
    font-size: 16px
    margin-bottom: 40px
