.resource
  margin-bottom: 70px

  .top
    display: flex
    justify-content: space-between
    align-items: center

    h1
      width: 100%
      text-align: center
      font-size: 30px !important
      font-weight: 500 !important
      color: #0c78de
      margin-bottom: 30px

  .description
    text-align: center
    width: 100%
    font-size: 16px
    margin-bottom: 50px
